{
  "extends": ["plugin:@-k/base"],
  "rules": {
    "lodash-fp/use-fp": "warn",
    "prefer-rest-params": "warn",
    "import/extensions": ["error", {"json": "always"}]
  },
  "overrides": [
    {
      "files": "examples/*.js",
      "rules": {
        "import/no-unresolved": "off",
        "unicorn/no-process-exit": "off"
      }
    }
  ]
}
